<!-- /login/ -->

{% extends 'base_index.html' %}
{% load bootstrap %}
{% load static %}


{% block title %}Войти - Proton CRM{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/password.css' %}">
    {% for msg in messages %}
        <div class="alert alert-{{ msg.tags }}" role="alert">
            <a href="#" class="alert-link">{{ msg }}</a>
        </div>
    {% endfor %}
<div class="login_form_center m-5">
    <form method="post">
        {% csrf_token %}

        <fieldset>
            <legend>Войти</legend>
            <div class="password">
                <input type="password" name="password"
                       class="form-control form-control" placeholder="Старый пароль"
                       id="id_password" required style="margin-bottom: 5px">
                <a href="#" class="password-control" onclick="return show_hide_password(this, 'id_password');"></a>
            </div>
            <div class="password">
                <input type="password" name="password"
                       class="form-control form-control" placeholder="Новый пароль"
                       id="id_password1" required style="margin-bottom: 5px">
                <a href="#" class="password-control" onclick="return show_hide_password(this, 'id_password1');"></a>
            </div>
            <div class="password">
                <input type="password" name="password"
                       class="form-control form-control" placeholder="Повторите пароль"
                       id="id_password2" required style="margin-bottom: 5px">
                <a href="#" class="password-control" onclick="return show_hide_password(this, 'id_password2');"></a>
            </div>
        </fieldset>
        <button type="submit" class="btn btn-primary" style="width: 200px">Сменить пароль</button>
    </form>

</div>
    <script src="{% static 'js/password.js' %}"></script> <!-- Подключаем плагин локально -->
{% endblock %}