<!-- /index/ -->

{% extends 'base_index.html' %}


{% block title %}Создать заявку{% endblock %}
{% load static %}
{% block content %}

<main class="container mt-1 p-5">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>
        <!-- text -->
            <label for="text">Текст заявки</label>
            <textarea class="form-control" id="text" name="text"
                      placeholder="Text" required></textarea>
        </p>
        <p>
        <!-- customes -->
            <label for="customer">Заказчик</label>
            <input class="form-control" id="customer" name="customer"
                      required placeholder="ФИО"></input>
        </p>
        <!-- telephone -->
        <div>
            <label for="telephone">Телефон</label>
<!--                <div class="wrapper__input">-->
                <input class="form-control" type="tel" data-mask="phone"
                name="telephone" id="telephone" placeholder="+7(977)777-77-77"
                       minlength=16 maxlength=16 required/>
<!--                </div>-->
        </div>
        <!-- building -->
        <p>
            <div class="form-group">
                <label class="control-label" for="building">Здание </label>
                    <div class=" ">
                      <select name="building" class="form-select form-select" id="building">
                          {% for item in buildings %}
                              <option value="{{ item.short_name }}">{{ item.address }}</option>
                          {% endfor %}
                      </select>
                    </div>
            </div>
        </p>
        <p>
        <!-- location -->
            <label for="text">Локация</label>
            <input class="form-control" id="location" name="location"
                      required placeholder="Кабинет"></input>
        </p>
        <!-- time -->
        <p>
        <label for="time">Удобное время</label>
        <th><input class="form-control" type="datetime-local" id="time" name="time"/></th>
        </p>
        <!-- photo -->
        <p>
            <label for="id_files">Фото</label>
            <input class="form-control" type="file" accept="image/*" id="id_files"
                       name="files"/>
        </p>
        <!-- level -->
        <div>
            <div class="form-group">
                <label class="control-label  " for="level">Приоритет задачи: </label>
                    <div class=" ">
                      <select name="level" class="form-select form-select" id="level">
                          {% for item in levels %}
                            {% if item.pictute %}
                              <option value="{{ item.name }}">{{ item.picture }}</option>
                            {% else %}
                              <option value="{{ item.name }}">{{ item.name }}</option>
                            {% endif %}
                          {% endfor %}
                      </select>
                    </div>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
</main>
<script src="{% static 'js/imask.js' %}"></script> <!-- Подключаем плагин локально -->
<script src="{% static 'js/main.js' %}"></script> <!-- Подключаем плагин локально -->
{% endblock %}
