<!-- /index/ -->

{% extends 'base_index.html' %}
{% load bootstrap %}


{% block title %}Создать заявку{% endblock %}

{% block content %}
<main class="container mt-1 p-5">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>
        <!-- text -->
            <label for="text">Текст заявки</label>
            <textarea class="form-control" id="text" name="text"
                      required placeholder="Text"></textarea>
        </p>
        <p>
        <!-- customes -->
            <label for="text">Заказчик</label>
            <input class="form-control" id="customer" name="customer"
                      required placeholder="ФИО"></input>
        </p>
        <p>
        <!-- location -->
            <label for="text">Локация</label>
            <input class="form-control" id="location" name="location"
                      required placeholder="Кабинет"></input>
        </p>
        <p>
        <!-- photo -->
        <div class="mb-4 d-flex justify-content">
            <img src="https://img.icons8.com/?size=160&id=xrSn9N56jUGh&format=png"
            alt="example placeholder" style="width: 100px;" />
        </div>
        <div class="d-flex justify-content">
            <div class="btn btn-primary btn-rounded">
                <label class="form-label text-white m-1" for="id_files">Выбрать изображение</label>
                <input type="file" class="form-control d-none"
                       id="id_files"
                       name="files" accept="image/*"/>
            </div>
        </div>
        </p>
        <p>
            <div class="form-group">
                                <label class="control-label  " for="level">Срочность задачи: </label>
                                    <div class=" ">
                                      <select name="level" class=" form-control" id="level">
                                          {% for item in data %}
                                            {% if item.pictute %}
                                              <option value="{{ item.name }}">{{ item.picture }}</option>
                                            {% else %}
                                              <option value="{{ item.name }}">{{ item.name }}</option>
                                            {% endif %}
                                          {% endfor %}
                                      </select>
                                    </div>
                            </div>
        </p>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </div>
    </form>
</main>
{% endblock %}
