<!--/task/ -->

{% extends 'base_index.html' %}
{% load bootstrap %}


{% block title %}Настроить заявку{% endblock %}

{% block content %}
{% load static %}
<style>
    .checkselect-control select {
        height: 35px;
        width: 90%;
    }
</style>
<main class="container mt-2">

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="table table-striped">
            <tbody>
            <!-- id -->
            <tr>
                <th>Заявка</th>
                <th>{{ task_info.task.id }}</th>
            </tr>
            <!-- text -->
            <tr>
                <th>Текст:</th>
                <th>{{ task_info.task.name }}</th>
            </tr>
            <!-- customer -->
            <tr>
                <th>Заказчик:</th>
                <th>{{ task_info.task.customer }}</th>
            </tr>
            <!-- telephone -->
            <tr>
        <th>Телефон</th>
        <th>{% if task_info.task.telephone %}
              {{ task_info.task.telephone }}
            {% else %}
              Не указано
            {% endif %}
        </th>
      </tr>
            <!-- building -->
            <tr>
        <th>Здание</th>
        <th>{{ task_info.task.building }}</th>
      </tr>
            <!-- location -->
            <tr>
                <th>Местоположение:</th>
                <th>{{ task_info.task.location }}</th>
            </tr>
            <!-- time -->
            <tr>
        <th>Удобное время</th>
        <th>{{ task_info.task.get_time }}</th>
      </tr>
            <!-- planned time -->
            <tr>
                <th>Планируемое время: </th>
                {% if user.is_admin %}
                <th><input class="form-control" type="datetime-local"
                           id="localdate" name="date"
                value="{{ task_info.task_time.get_time }}"
                           style="max-width: 180px;"/></th>
                {% else %}
                <th>{% if task_info.task_time.time %}
                        {{ task_info.task_time.get_time }}
                    {% else %}
                        не указано
                    {% endif %}
                </th>
                {% endif %}
            </tr>
            <!-- photo -->
            <tr>
            {% if task_info.task.files %}
                <th>Фото:</th>
                <th>
                    <img src="{{ MEDIA_URL }}{{ task_info.task.files }}"
                         width="90%"></img>
                </th>
            {% endif %}
            </tr>
            <!-- photo confirmation -->
            {% if user.is_admin %}
            <tr>
                <th>Фото- подтверждение</th>
                <th>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox"
                               id="photo_required" name="photo_required"
                               {% if task_info.task.photo_required %}
                               checked
                               {% endif %}
                               style="width: 3em; height: 1.5em"
                        >
                    </div>
                </th>
            </tr>
            {% endif %}
            <!-- level -->
            <tr>
                <th>Приоритет:</th>
                <th>
                    {% if user.is_admin %}
                    <select name="level" class="form-select form-select-sm"
                            style="max-width: 180px; font-size: 0.8rem; height: 35px">
                        {% if task_info.task_level %}
                        <option disabled selected="selected">
                          {{task_info.task_level.name }}
                        </option>
                        {% else %}
                        <option disabled selected="selected">Выберите
                            срочность
                        </option>
                        {% endif %}
                          {% for level in levels %}
                            {% if level != task_info.task_level %}
                            <option name="{{ level.id }}">{{ level.name }}</option>
                            {% endif %}
                          {% endfor %}
                    </select>
                    {% else %}
                      {% if task_info.task_level %}
                      {{ task_info.task_level.name }}
                      {% else %}
                      Не указана
                      {% endif %}
                    {% endif %}
                </th>
            </tr>
            <!-- state -->
            <tr>
                <th>Статус:</th>
                <th>
                    <select name="state" class="form-select form-select"
                            style="max-width: 180px; font-size: 0.8rem; height: 35px">
                        {% if task_info.task_state %}
                        <option disabled selected="selected">
                          {{task_info.task_state.name }}
                        </option>
                        {% else %}
                        <option disabled selected="selected">Выберите статус
                        </option>
                        {% endif %}
                        {% for state in states %}
                        {% if state != task_info.task_state %}
                        <option name="{{ state.id }}">{{ state.name }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    {% if not user.is_admin and task_info.task.photo_required %}
                        <br>
                        <input class="form-control" type="file" accept="image/*" id="id_files"
                        name="files" required/>
                    {% endif %}
                    {% if task_info.task_state_photo %}
                        <img src="{{ MEDIA_URL }}{{ task_info.task_state_photo }}"
                         width="90%"></img>
                    {% endif %}
                </th>
            </tr>
            <!-- workers -->
            <tr>
                <th>Исполнители:</th>
                <th>
                    {% if user.is_admin %}
                    <div class="checkselect">
                        {% for worker in workers %}
                        {% if worker in task_info.task_workers %}
                        <label><input type="checkbox" name="workers"
                                      value="{{ worker.id }}" checked>
                          {{worker.name }}</label>
                        {% else %}
                        <label><input type="checkbox" name="workers"
                                      value="{{ worker.id }}">{{ worker.name }}</label>
                        {% endif %}
                        {% endfor %}
                      {% else %}
                        {% if task_info.task_workers %}
                        {% for worker in task_info.task_workers %}
                          {{ worker.name }}<br>
                        {% endfor %}
                        {% else %}

                        {% endif %}
                      {% endif %}
                    </div>
                </th>
            </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
</main>
<script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
<script src="{% static 'js/plugin_checkbox.js' %}"></script>
{% endblock %}